.svgContainer, canvas {	
	position: absolute;
	top: 50;
	left: 50;
	}	
	
body{
	background-color: white;
	}
	
canvas{
	background-color: transparent;
	}
.move{
	cursor:move
}
.xaxis {
	position: absolute;
	top: 545;
	left: 25;
}
.xaxis path,
.xaxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.yaxis {
	position: absolute;
	top: 25;
	left: 5;
}
.yaxis path,
.yaxis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
/* Legend CSS */
.legendSVG {
	position: absolute;
	top: 50;
	left: 550;

}
/* Slider CSS */
 .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 5px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 3px;
  stroke-linecap: round;
}

.sliderSVG {
	position: absolute;
	top: 575;
	left: 50;
} 

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.handle {
	cursor: ew-resize;
}
.brightLine {                         
    fill: none;                 
    stroke: url(#bright-gradient);    
    stroke-width: 2px;          
}
.greyLine {                         
    fill: none;                 
    stroke: url(#grey-gradient);    
    stroke-width: 2px;          
}

.networkSVG{
	position: absolute;
	top: 700;
	left: 200;
	cursor: help;
} 
