svg, canvas {	
	position: absolute;
	top: 0;
	left: 50;
	}	
	
body{
	background-color: white;
	}
	
canvas{
	background-color: transparent;
	}
	
/* Legend CSS */
.legendSVG {
	position: absolute;
	top: 50;
	left: 550;

}
/* Slider CSS */
 .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.sliderSVG {
	position: absolute;
	top: 500;
	left: 50;

} 

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

